---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/aschreck?access_token=086a3d557131bd9bac9355c9516831fe92c835a4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1512684091'
      Etag:
      - W/"02c3bd125437165f5c7ecfc685a7a546"
      Last-Modified:
      - Wed, 06 Dec 2017 14:21:22 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - f0951aa9d7b39e0ffcfe
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"aschreck","id":29213917,"avatar_url":"https://avatars1.githubusercontent.com/u/29213917?v=4","gravatar_id":"","url":"https://api.github.com/users/aschreck","html_url":"https://github.com/aschreck","followers_url":"https://api.github.com/users/aschreck/followers","following_url":"https://api.github.com/users/aschreck/following{/other_user}","gists_url":"https://api.github.com/users/aschreck/gists{/gist_id}","starred_url":"https://api.github.com/users/aschreck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aschreck/subscriptions","organizations_url":"https://api.github.com/users/aschreck/orgs","repos_url":"https://api.github.com/users/aschreck/repos","events_url":"https://api.github.com/users/aschreck/events{/privacy}","received_events_url":"https://api.github.com/users/aschreck/received_events","type":"User","site_admin":false,"name":"Aaron
        Schreck","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":38,"public_gists":12,"followers":1,"following":2,"created_at":"2017-06-05T21:38:20Z","updated_at":"2017-12-06T14:21:22Z"}'
  recorded_at: Thu, 07 Dec 2017 21:44:00 GMT
- request:
    method: get
    uri: https://api.github.com/users/aschreck/followers?access_token=086a3d557131bd9bac9355c9516831fe92c835a4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1512684091'
      E[...]
- request:
    method: get
    uri: https://api.github.com/users/aschreck/following?access_token=086a3d557131bd9bac9355c9516831fe92c835a4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1512684091'
      E[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/aschreck/repos?access_token=086a3d557131bd9bac9355c9516831fe92c835a4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1512684091'
      Etag:
      - W/"729115e344db334c9f1f3783dfd8c0b6"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - f0951aa9d7b39e0ffcfe
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/29213917/repos?access_token=086a3d557131bd9bac9355c9516831fe92c835a4&page=2>;
        rel="next", <https://api.github.com/user/29213917/repos?access_token=086a3d557131bd9bac9355c9516831fe92c835a4&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":105597528,"name":"activerecord_exploration","full_name":"aschreck/activerecord_exploration","owner":{"login":"aschreck","id":29213917,"avatar_url":"https://avatars1.githubusercontent.com/u/29213917?v=4","gravatar_id":"","url":"https://api.github.com/users/aschreck","html_url":"https://github.com/aschreck","followers_url":"https://api.github.com/users/aschreck/followers","following_url":"https://api.github.com/users/aschreck/following{/other_user}","gists_url":"https://api.github.com/users/aschreck/gists{/gist_id}","starred_url":"https://api.github.com/users/aschreck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aschreck/subscriptions","organizations_url":"https://api.github.com/users/aschreck/orgs","repos_url":"https://api.github.com/users/aschreck/repos","events_url":"https://api.github.com/users/aschreck/events{/privacy}","received_events_url":"https://api.github.com/users/aschreck/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/aschreck/activerecord_exploration","description":null,"fork":true,"url":"https://api.github.com/repos/aschreck/activerecord_exploration","forks_url":"https://api.github.com/repos/aschreck/activerecord_exploration/forks","keys_url":"https://api.github.com/repos/aschreck/activerecord_exploration/keys{/key_id}","collaborators_url":"https://api.github.com/repos/aschreck/activerecord_exploration/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/aschreck/activerecord_exploration/teams","hooks_url":"https://api.github.com/repos/aschreck/activerecord_exploration/hooks","issue_events_url":"https://api.github.com/repos/aschreck/activerecord_exploration/issues/events{/number}","events_url":"https://api.github.com/repos/aschreck/activerecord_exploration/events","assignees_url":"https://api.github.com/repos/aschreck/activerecord_exploration/assignees{/user}","branches_url":"https://api.github.com/repos/aschreck/activerecord_exploration/branches{/branch}","tags_url":"https://api.github.com/repos/aschreck/activerecord_exploration/tags","blobs_url":"https://api.github.com/repos/aschreck/activerecord_exploration/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/aschreck/activerecord_exploration/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/aschreck/activerecord_exploration/git/refs{/sha}","trees_url":"https://api.github.com/repos/aschreck/activerecord_exploration/git/trees{/sha}","statuses_url":"https://api.github.com/repos/aschreck/activerecord_exploration/statuses/{sha}","languages_url":"https://api.github.com/repos/aschreck/activerecord_exploration/languages","stargazers_url":"https://api.github.com/repos/aschreck/activerecord_exploration/stargazers","contributors_url":"https://api.github.com/repos/aschreck/activerecord_exploration/contributors","subscribers_url":"https://api.github.com/repos/aschreck/activerecord_exploration/subscribers","subscription_url":"https://api.github.com/repos/aschreck/activerecord_exploration/subscription","commits_url":"https://api.github.com/repos/aschreck/activerecord_exploration/commits{/sha}","git_commits_url":"https://api.github.com/repos/aschreck/activerecord_exploration/git/commits{/sha}","comments_url":"https://api.github.com/repos/aschreck/activerecord_exploration/comments{/number}","issue_comment_url":"https://api.github.com/repos/aschreck/activerecord_exploration/issues/comments{/number}","contents_url":"https://api.github.com/repos/aschreck/activerecord_exploration/contents/{+path}","compare_url":"https://api.github.com/repos/aschreck/activerecord_exploration/compare/{base}...{head}","merges_url":"https://api.github.com/repos/aschreck/activerecord_exploration/merges","archive_url":"https://api.github.com/repos/aschreck/activerecord_exploration/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/aschreck/activerecord_exploration/downloads","issues_url":"https://api.github.com/repos/aschreck/activerecord_exploration/issues{/number}","pulls_url":"https://api.github.com/repos/aschreck/activerecord_exploration/pulls{/number}","milestones_url":"https://api.github.com/repos/aschreck/activerecord_exploration/milestones{/number}","notifications_url":"https://api.github.com/repos/aschreck/activerecord_exploration/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/aschreck/activerecord_exploration/labels{/name}","releases_url":"https://api.github.com/repos/aschreck/activerecord_exploration/releases{/id}","deployments_url":"https://api.github.com/repos/aschreck/activerecord_exploration/deployments","created_at":"2017-10-03T00:00:37Z","updated_at":"2017-10-03T00:00:38Z","pushed_at":"2017-10-03T19:12:24Z","git_url":"git://github.com/aschreck/activerecord_exploration.git","ssh_url":"git@github.com:aschreck/activerecord_exploration.git","clone_url":"https://github.com/aschreck/activerecord_exploration.git","svn_url":"https://github.com/aschreck/activerecord_exploration","homepage":null,"size":31,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":113075761,"name":"apicurious","full_name":"aschreck/apicurious","owner":{"login":"aschreck","id":29213917,"avatar_url":"https://avatars1.githubusercontent.com/u/29213917?v=4","gravatar_id":"","url":"https://api.github.com/users/aschreck","html_url":"https://github.com/aschreck","followers_url":"https://api.github.com/users/aschreck/followers","following_url":"https://api.github.com/users/aschreck/following{/other_user}","gists_url":"https://api.github.com/users/aschreck/gists{/gist_[...]
- request:
    method: get
    uri: https://api.github.com/users/aschreck/starred?access_token=086a3d557131bd9bac9355c9516831fe92c835a4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1512684091'
      Eta[...]
